@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{
    --md-dark-color: #1d1d1d;
    --dark-color: #151515;
    --light-dark-color: #292929;
    --yellow-color: red;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a{
    text-decoration: none;
}


.user-icon {
    position: fixed;
    top: 55px;
    right: 50px; /* adjust as needed */
    background-color: white;
    border-radius: 50%;
    padding: 10px;
  }
  
  .user-icon img {
    width: 20px;
    height: 20px;
  }
  
  .user-info {
    position: fixed;
    top: 55px;
    right: 30px; /* adjust as needed */
    margin-right: 70px; /* adjust as needed */
    min-width: 150px;
    min-height: 50px; 
  }
  
  

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    }
    
button:hover {
    background-color: #cc0000;
}

form {
    margin: 50px auto;
    width: 300px;
    text-align: center;
    }
    
label {
    display: block;
    margin-bottom: 10px;
    color: red;
}

h2 {
    color: White;
    text-align: center;
    margin-top: 50px;
}

/* Navigation bar Styling */
nav {
    background-color: #000; /* Set background color */
    padding: 10px 0; /* Add padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    list-style: none;
}

nav ul {
    list-style-type: none; /* Remove default list style */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    margin-right: 10px; /* Add right margin between list items */
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Set font color to white */
    font-weight: normal; /* Set font weight to normal */
}

/* Responsive Navigation */
@media screen and (max-width: 767px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
    nav li {
      margin: 10px 0;
    }
  }


img{
    width: 100%;
    display: block;
}
.wrapper{
    min-height: 100vh;
    background-color: var(--dark-color);
}
.wrapper .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.search-container{
    background-color: var(--md-dark-color);
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.logo{
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
}
.logo p{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}
.logo p span{
    color: var(--yellow-color);
}
.search-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.search-element h3{
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
}
.search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list .search-list-item{
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(350px - 8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
    background-color: #1f1f1f;
}
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

footer {
    color: white;
    margin-left: 10px;
}


/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
}

/* js related class */
.hide-search-list{
    display: none;
}

/* movie result */
.result-container{
    padding: 3rem 0;
}
.movie-poster img{
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;
}
.movie-info{
    text-align: center;
    color: #fff;
    padding-top: 3rem;
}

/* movie info stylings */
.movie-title{
    font-size: 2rem;
    color: var(--yellow-color);
}
.movie-misc-info{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
}
.movie-info .year{
    font-weight: 500;
}
.movie-info .rated{
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.movie-info .released{
    font-size: 0.9rem;
    opacity: 0.9;
}
.movie-info .writer{
    padding: 0.5rem;
    margin: 1rem 0;
}

.movie-info .imdbID{
    padding: 0.5rem;
    margin: 1rem 0;
}

.movie-info .genre{
    background-color: var(--light-dark-color);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}
.movie-info .plot{
    max-width: 400px;
    margin: 1rem auto;
}
.movie-info .language{
    color: var(--yellow-color);
    font-style: italic;
}
.movie-info .awards{
    font-weight: 300;
    font-size: 0.9rem;
}
.movie-info .awards i{
    color: var(--yellow-color);
    margin: 1rem 0.7rem 0 0;
}

@media(max-width: 450px){
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie-misc-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .movie-misc-info li:nth-child(2){
        margin: 0.8rem 0;
    }
}

@media(min-width: 800px){
    .search-element{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .search-element h3{
        margin-bottom: 0;
    }
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-info{
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot{
        margin-left: 0;
    }
    .movie-info .writer{
        padding-left: 0;
        margin-left: 0;
    }
}

/* CSS style for the website */
body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #000;
    padding: 20px;
}

h1 {
    color: #e74c3c;
    margin: 0;
}

/* box Section */
.box {
    background-color: #111;
    padding: 80px;
    text-align: center;
}

.box h2 {
    color: #e74c3c;
    font-size: 36px;
    margin: 0;
}

.box p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* About Section */
.about {
  background-color: #111;
  padding: 80px 0;
}

.about h2 {
  color: #e74c3c;
  text-align: center;
  font-size: 36px;
  margin: 0;
  padding-bottom: 20px;
}

.about p {
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}


/* Contact Us Section */
/* Apply styles to the main Contact Us section */
#contact-us {
    background-color: #1d1d1d;
    padding: 20px;
}

/* Center the content within the Contact Us section */
.contact {
    max-width: 600px;
    margin: 0 auto;
}

/* Style the Contact Us section headings */
.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

/* Style the Contact Us section paragraphs */
.contact p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
}


/* Style the Contact Us section form labels */
.contact label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100px;
    color: red;
}

/* Style the Contact Us section form input fields */
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f4f4f4;
}

/* Style the Contact Us section form submit button */
.contact input[type="submit"] {
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


/* CSS code for social media section */
.social-media {
    margin-top: 20px; /* Add margin top for spacing */
}

.social-media h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-media-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.social-media-icons li {
    display: inline-block;
    margin-right: 10px;
}

.discord-icon {
    width: 35px;
    height: 38px;
}

.twitter-icon {
    width: 60px;
    height: 55px;
}

.facebook-icon {
    width: 40px;
    height: 46px;
}